In [21]:
import pandas
from pandas_datareader import DataReader
from datetime import datetime

# FB has changed to META since the recording of the tutorial
stocks_list = ["META",
              "AMZN",
              "NFLX",
              "GOOG"]

start = datetime(datetime.now().year - 1, 
                 datetime.now().month, 
                 datetime.now().day)

end = datetime.now()


for stock in stocks_list:
    # The tutorial used Yahoo, but Yahoo changed their API so I switched to "stooq"
    # https://stackoverflow.com/questions/74862453/why-am-i-getting-a-typeerror-string-indices-must-be-integer-message-when-tryi
    globals()[stock] = DataReader(stock, "stooq", start, end)

In [24]:
META.describe()

             Open        High         Low       Close        Volume
count  251.000000  251.000000  251.000000  251.000000  2.510000e+02
mean   179.687368  182.994067  177.436044  180.310657  3.223539e+07
std     57.261963   57.880633   56.902501   57.573755  2.203180e+07
min     90.080000   90.457600   88.090000   88.910000  8.629269e+06
25%    132.910000  136.885000  131.580000  133.340000  2.089542e+07
50%    169.000000  172.320000  167.280000  169.580000  2.616363e+07
75%    214.772500  216.890000  212.850000  215.225000  3.528435e+07
max    313.620000  318.680000  310.520000  316.010000  2.323166e+08

In [25]:
print(AMZN)

               Open     High       Low   Close    Volume
Date
2023-07-19  133.390  135.990  132.5300  135.36  54531037
2023-07-18  132.710  133.860  131.3550  132.83  54969133
2023-07-17  134.560  135.620  133.2100  133.56  48450198
2023-07-14  134.060  136.650  134.0600  134.68  54487090
2023-07-13  134.040  134.670  132.7100  134.30  61170883
...             ...      ...       ...     ...       ...
2022-07-26  115.790  118.150  114.5300  114.81  67075064
2022-07-25  122.695  123.640  120.0300  121.14  50221259
2022-07-22  125.010  125.500  121.3504  122.42  51463797
2022-07-21  123.200  124.850  121.2600  124.63  60239892
2022-07-20  118.615  123.475  118.3200  122.77  71268322

[251 rows x 5 columns]

In [26]:
NFLX.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 251 entries, 2023-07-19 to 2022-07-20
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    251 non-null    float64
 1   High    251 non-null    float64
 2   Low     251 non-null    float64
 3   Close   251 non-null    float64
 4   Volume  251 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 11.8 KB